<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- lấy title từ controller -->
  <title>[[${pageTitle}]]</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/ShopmeAdminSmall.png}" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" th:href="@{/users}">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/categories}">Categories</a>
              </li>

              <li class="nav-item">
                <a class="nav-link " aria-current="page" th:href="@{/brands}">Brands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" th:href="@{/customers}">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/shipping}">Shipping</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" th:href="@{/orders}">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/report}">Sales Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/articles}">Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/menus}">Menus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/settings}">Settings</a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
      <div>
        <h2>Manage User | [[${pageTitle}]]</h2>
      </div>
      <!-- Form -->
      <!-- th:object="${user}: "user" là thuộc tính "user" trong trong hàm newUser khi được model.addAttribute("user", user) -->
      <!-- th:action="@{/users/save}" method="post" gọi phương thức "save" trong UserController với ánh xạ "POST MAPPING"-->
      <form class="row g-3" th:action="@{/users/save}" method="post" th:object="${user}"
        onsubmit="return checkEmailUnique(this)">
        <!-- lưu id người dùng  -->
        <input type="hidden" id="id" th:field="*{id}">
        <div class="col-md-6">
          <label for="inputfirstName" class="form-label">First Name:</label>
          <!-- email là tên thuộc tính của lớp "User" --->
          <input type="text" class="form-control" id="inputfirstName" th:field="*{firstName}" minlength="2"
            maxlength="45">
        </div>
        <div class="col-md-6">
          <label for="inputLastName" class="form-label">Last Name:</label>
          <input type="text" class="form-control" id="inputLastName" th:field="*{lastName}" minlength="2"
            maxlength="45">
        </div>
        <!-- col-12" -->
        <div class="col-md-6">
          <label for="email" class="form-label">E-mail:</label>
          <!-- email là tên thuộc tính của lớp "User" --->
          <input type="email" class="form-control" id="email" th:field="*{email}" required minlength="8"
            maxlength="128">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password:</label>
          <input  type="password" class="form-control" id="inputPassword4" th:field="*{password}" th:if="${user.id==null}" required minlength="8"
            maxlength="128">  
            <input type="password" class="form-control" id="inputPassword4" th:field="*{password}" th:if="${user.id!=null}"   minlength="8"
            maxlength="128">
        </div>
        <div class="col-12">
          <label for="inputPassword4" class="form-label">Roles:</label>
          <br>
          <th:block th:each=" role : ${listRoles}">
            <input type="checkbox" th:field="*{roles}" class="m-2" th:text="${role.name}" th:value="${role.id}"> -
            <small>[[${role.description}]]</small> <br>
          </th:block>
        </div>
        <div class="col-12">
          <div class="form-check">
            <label class="form-check-label" for="gridCheck">
              Enabled
            </label>
            <input class="form-check-input" type="checkbox" th:field="*{enable}" id="gridCheck">
          </div>
        </div>

        <div class="col-12">
          <button type="submit" data-bs-toggle="modal" data-bs-target="#modalDialog"
            class="btn btn-primary">Save</button>
          <a style="text-decoration: none;" th:href="@{/users}"> <button type="button" class="btn btn-secondary"
              id="buttonCancel">Cancel</button></a>

        </div>

      </form>



      <!-- Modal -->
      <div class="modal fade" id="modalDialog" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitle">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>





      <div>
        <p class="text-center">Shopme Control Panel - Copyright &copy; Shopme</p>
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>


  <script type="text/JavaScript">
    // $(document).ready(function(){
    //   $("#buttonCancel").on("click",function(){
    //     window.location = "[[@{/users}]]";
    //   });
    // });
      function checkEmailUnique(form) {
        // xác định đường dẫn của dịch vụ web (UserRestService)
        url = "[[@{/users/check_email}]]";//==> nhận được giá trị của trường biểu mẫu
        userEmail = $("#email").val();
        // lấy id người dùng
        userId = $("#id").val();
        // //đọc giá trị csrf của trang web
        csrfValue=$("input[name='_csrf']").val();
        // khai báo 1 mảng email người dùng và thông số của csrf
        //email: userEmail là tham số 
        params = {id: userId, email: userEmail,_csrf: csrfValue};
        // gọi AJAX đến dịch vụ web bằng phương thức post của JQuery
        //tải một trang web từ xa
        /*
        url: Đường dẫn trang web cần tải
        data: params
        callback: 
        */
        $.post(url,params,function(response){
         
          // kiểm tra phản hồi của máy chủ để tiếp tục gửi đến máy chủ
          if (response=="OK") {
           
            form.submit();
          }else if (response =="Duplicated") {
            showModalDialog( "Warning" ,"There is another user having the email: "+userEmail);
          }else{
            showModalDialog( "Error" ,"Unknown response from server");
          }
        }).fail(function(){
          showModalDialog( "Error" ,"Could not connect to the server");
        });
        return false;
      }
      function showModalDialog(title,message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal();
      }
  </script>






</body>

</html>






