<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="content" th:remove="tag">
    <div>
      <p>
        Use this page to manage states/provinces which will be chosen by visitors in the customer registration form.
        Click Load Country List first.
      </p>
    </div>
    <!-- button load Country -->
    <div>
      <input type="button" id="buttonLoadCountriesForStates" value="Load Country List" class="btn btn-primary m-2">
    </div>
    <!-- drop Down Countries For States -->
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Selected Country:</label>
      <div class="col-sm-10">
        <select name="" class="form-control m-2" id="dropDownCountriesForStates"></select>
      </div>
    </div>
    <!-- drop Down States -->
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">All States/Province:</label>
      <div class="col-sm-10">
        <select name="" class="form-control m-2" style="height: 300;" size="3" id="dropDownStates"></select>

      </div>
    </div>
    <!-- drop Down States -->
    <form id="formStates">
      <div class="form-group row">
        <label for="" id="labelStateName" class="col-sm-2 col-form-label">States/Province Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control m-2" id="fieldStateName" required minlength="3" maxlength="45">
        </div>
        <div class="col-lg-4 mt-2">
          <input type="button" id="buttonAddState" value="Add" class="btn btn-secondary mr-2">
          <input type="button" id="buttonUpdateState" value="Update" class="btn btn-secondary mr-2">
          <input type="button" id="buttonDeleteState" value="Delete" class="btn btn-secondary mr-2">
        </div>
      </div>
    </form>





  </div>
</body>

</html>


