<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <head th:replace="fragments::page_head(${pageTitle},'tag')"></head>
  <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">


</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container-fluid">
      <!-- Menu -->
      <div th:replace="navigation::menu"></div>
      <div>
        <h2>Manage Products | [[${pageTitle}]]</h2>
      </div>
      <!-- Form -->
      <!-- th:object="${product}: "product" là thuộc tính "product" trong trong hàm newproduct khi được model.addAttribute("product", product) -->
      <!-- th:action="@{/products/save}" method="post" gọi phương thức "save" trong productController với ánh xạ "POST MAPPING"-->
      <!-- enctype="multipart/form-data": cho phép tải lên tệp cho biểu mẫu -->
      <form class="row g-3" th:action="@{/products/save}" method="post" th:object="${product}"
        onsubmit="return checkUnique(this)">
        <!-- lưu id người dùng  -->
        <input type="hidden" id="id" th:field="*{id}">
        <div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
                type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="description-tab" data-bs-toggle="tab" data-bs-target="#description"
                type="button" role="tab" aria-controls="description" aria-selected="false">Description</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="images-tab" data-bs-toggle="tab" data-bs-target="#images" type="button"
                role="tab" aria-controls="images" aria-selected="false">Images</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button"
                role="tab" aria-controls="details" aria-selected="false">Details</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="shipping-tab" data-bs-toggle="tab" data-bs-target="#shipping" type="button"
                role="tab" aria-controls="shipping" aria-selected="false">Shipping</button>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
              <div th:replace="products/product_overview::content"></div>
            </div>
            <div class="tab-pane" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div th:replace="products/product_description::content"></div>
            </div>
            <div class="tab-pane" id="images" role="tabpanel" aria-labelledby="images-tab">Images</div>
            <div class="tab-pane" id="details" role="tabpanel" aria-labelledby="details-tab">Details</div>
            <div class="tab-pane p-3" id="shipping" role="tabpanel" aria-labelledby="details-tab">
              <div th:replace="products/product_shipping::content"></div>
            </div>
          </div>
        </div>
        <!-- Button -->
        <div class="col-12 text-center">
          <button type="submit" data-bs-toggle="modal" class="btn btn-primary">Save</button>
          <a style="text-decoration: none;" th:href="@{/categories}"> <button type="button" class="btn btn-secondary"
              id="buttonCancel">Cancel</button></a>

        </div>
      </form>
      <div th:replace="./fragments/fragment_modal::modal_dialog"></div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
    <div th:replace="fragments::footer"></div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>

  <script type="text/javaScript" th:src="@{/js/common.js}"></script>
  <script type="text/javaScript" th:src="@{/js/common_form.js}"></script>
  <script type="text/javaScript" th:src="@{/richtext/jquery.richtext.js}"></script>
  <script type="text/javaScript" th:src="@{/richtext/jquery.richtext.min.js}"></script>
  <script type="text/JavaScript">
      moduleURL = "[[@{/products}]]";
      brandModuleURL = "[[@{/brands}]]"

      dropdownBrands = $("#brand");
      dropdownCategories =$("#category");
    
      $(document).ready(function () {
        $("#shortDescription").richText();
        $("#fullDescription").richText();
      dropdownBrands.change(function(){
        dropdownCategories.empty();
        getCategoies();
      });
      getCategoies();
     });
     function getCategoies() {
      brandID =  dropdownBrands.val();//id
      //tạo đường dẫn giống với BrandRestController
      // /brands/id/categories
      url = brandModuleURL+"/"+brandID+"/categories";
      $.get(url,function(responseJson){
        $.each(responseJson,function(index,category){
          $("<option>").val(category.id).text(category.name).appendTo(dropdownCategories);
        })
      });
     
     }



     function checkUnique(form) {
      productId = $("#id").val();
      productName = $("#name").val();
       csrfValue = $("input[name='_csrf']").val();
      url="[[@{/products/check_unique}]]";
      params={id:productId,name:productName,_csrf:csrfValue};
      $.post(url,params,function(response){
        if (response=="Ok") {
          form.submit();
        }else if (response=="Duplicate") {
          showWarningModal("There is another product having the name "+productName)
        }else{
          showErrorModal("Unknown response from server");
        }
      }).fail(function(){
        showErrorModal("could not connect to the server");
      });
      return false;
     }
  </script>

</body>

</html>