<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="content" th:remove="tag">
      <div class="mt-2">
        <label for="">Short Description:</label>
        <textarea
          class="form-control"
          th:field="*{shortDescription}"
          name=""
          id=""
          rows="5"
          required
        ></textarea>
      </div>
      <div class="mt-2">
        <label for="">Full Description:</label>
        <textarea
          class="form-control"
          th:field="*{fullDescription}"
          name=""
          id=""
          rows="10"
          required
        ></textarea>
      </div>
    </div>
  </body>
</html>
