<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::page_head(${pageTitle},'none')"> </head>

<body>
    <div class="container-fluid">
        <!-- menu -->
        <div th:replace="navigation::head_menu"> </div>
        <div th:if="${listCategoryParent!=null && !listCategoryParent.empty}">
            <div class="row">
                <div class="col">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/}">Home</a>
                            </li>
                            <th:block th:each=" parent: ${listCategoryParent}">
                                <li class="breadcrumb-item">
                                    <a th:href="@{'/c/'+${parent.alias}}">[[${parent.name}]]</a>
                                </li>
                            </th:block>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="row text-center">
            <th:block th:each=" cat: ${category.children}">
                <div class="col" th:if="${cat.enabled==true}"></div>    
            <a >
                    <img th:src="@{${cat.imagePath}}" alt="">
                </a>
            </th:block>
        </div>



        <div class="row">
            <th:block th:each="product : ${listProducts}">
                <div class="col">
                    <div>
                        <img th:src="@{${product.mainImagePath}}" style="width: 80px; height: 80px;" alt="">
                        <br>
                        <b>[[${product.name}]]</b>
                    </div>
                </div>
            </th:block>
        </div>
        <!-- pagination -->
        <div th:replace="fragments::pagination('/c/'+${category.alias},'product')"></div>


        <div th:replace="navigation::footer_menu"></div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
            </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
            </script>
        <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
</body>

</html>



