<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content">
		<div>
			<a th:href="@{'/p/'+${product.alias}}">
				<img th:src="@{${product.mainImagePath}}" style="width: 80px; height: 80px;" alt="">
				<br>
				<b>[[${product.name}]]</b>
				<br>
				<b>[[${product.shortName}]]</b>
			</a>
		</div>
		<!-- price -->
		<div th:replace="product/product_fragment::product_price"></div>
	</div>
	<div th:fragment="product_price" th:remove="tag">
		<!-- price -->
		<th:block th:if="${product.discountPercent &lt;= 0}">
			<!-- <span>[[${CURRENCY_SYMBOL}]] [[${product.price}]]</span> -->
			<span th:replace="/product/product_fragment::price_fragment(${product.price})"></span>
		</th:block>
		<!-- discountPercent -->
		<th:block th:if="${product.discountPercent>0}">
			<!-- ${product.discountPrice} -->
			<span style="font-size: larger; color:darkred ;">
				<span th:replace="/product/product_fragment::price_fragment(${product.discountPrice})"></span>
			</span>
			<del><span th:replace="/product/product_fragment::price_fragment(${product.discountPrice})"></span></del>
		</th:block>
	</div>
	<span th:fragment="price_fragment(productPrice)" th:remove="tag">
		<span th:if="${CURRENCY_SYMBOL_POSITION}=='Before price'" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
		[[${#numbers.formatDecimal(productPrice,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
		<span th:if="${CURRENCY_SYMBOL_POSITION}=='After price'" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
	</span>
</body>

</html>